@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body,html{
    background-color:#191919;
}
.py-5 h2{
    font-size:50px;
    font-family:Poppins,sans-serif;
    color:#f9004d;
}
.col-md-7{
    color:white;
    font-family: poppins,sans-serif;
}